Language: Cpp
BasedOnStyle: LLVM

ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
UseTab: Never

AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Attach
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false

ContinuationIndentWidth: 4

BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: DontAlign
AlignOperands: false

AllowShortLoopsOnASingleLine: false
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true

DerivePointerAlignment: false
PointerAlignment: Right
SpaceAfterCStyleCast: true

SpaceBeforeParens: ControlStatements
SortIncludes: false
ReflowComments: false
KeepEmptyLinesAtTheStartOfBlocks: false
